<div class="row mb-3">
    <label class="col-6 col-form-label" for="@id">@Text</label>
    <div class="col-6">
        <input min="@Min" max="@Max" type="number" class="form-control" style="text-align:right;" @bind="Value" id="@id" />
    </div>
</div>

@code {
    private int _value;

    private string id = Guid.NewGuid().ToString();

    [Parameter]
    public string? Text { get; set; }

    [Parameter]
    public int Max { get; set; }

    [Parameter]
    public int Min { get; set; }

    [Parameter]
    public int Value 
    { 
        get
        {
            return _value;
        }
        set
        {
            value = Math.Min(value, Max);
            value = Math.Max(value, Min);

            if (_value == value)
                return;

            _value = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<int> ValueChanged { get; set; }
}
