@page "/counter"
@using UnitedGenerator.Data;
@using UnitedGenerator.Engine;

<PageTitle>Counter</PageTitle>



<h1>Game</h1>

<button class="btn btn-primary" @onclick="GenerateGame">Generate Game</button>
<button class="btn btn-primary" @onclick="GenerateMultiVillainGame">Generate Multi Villain Game</button>

@if (game != null)
{
    <h2>Villain</h2>
    <div>@game.Villain.Name (@game.Villain.Box.Name - Season @game.Villain.Season.Number)</div>
    
    @if (game.Villain.HasCustomRules)
    {
        <div>Note: Has Custom Rules!</div>
    }

    @if (game.Villain.IsMultiVillain)
    {
        <ul>
            @foreach (var villain in game.Villain.SubVillains)
            {
                <li>@villain.Name (@villain.Box.Name - Season @villain.Season.Number)</li>
            }
        </ul>
    }

    <h3>Challenge</h3>
    @if (game.Challenge != null)
    {
        <div>@game.Challenge.Name (@game.Challenge.Box.Name - Season @game.Challenge.Season.Number)</div>
    }
    else
    {
        <div>(None)</div>
    }

    @foreach (var group in game.HeroGroups)
    {
        <h2>@group.Name</h2>
        <ul>
            @foreach (var hero in group.Heroes)
            {
                <li>@hero.Name (@hero.Box.Name - Season @hero.Season.Number)</li>
            }
        </ul>
    }

    <h2>Locations</h2>
    <ul>
        @foreach (var location in game.Locations)
        {
            <li>@location.Name (@location.Box.Name - Season @location.Season.Number)</li>
        }
    </ul>
}

@code {
    private readonly GameRandomizer random = new GameRandomizer();

    private GameSetup? game = null;
    private int playerCount = 4;

    private void GenerateGame()
    {
        game = random.Generate(playerCount);
    }

    private void GenerateMultiVillainGame()
    {
        game = random.Generate(playerCount, onlyMultiVillains: true);
    }
}
