@page "/data"
@using UnitedGenerator.Data;

<PageTitle>Data Review</PageTitle>

<div class="alert alert-primary" role="alert">
    This page is only intended for those who wants to know (or review) what data goes into the generation.<br />
    Please report any errors you might find!
</div>
<div class="alert alert-secondary" role="alert">
    Developers are welcome to take a even deeper look into the source at <a href="https://github.com/norsjensen/UnitedGenerator" target="_blank">GitHub</a>
</div>

<h2 id="top">Shortcuts to Boxes</h2>
<ul>
    @foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
    {
        <li>
            Season @season.Number
            <ul>
                @foreach (var box in season.Boxes.OrderByBoxDefault())
                {
                    <li><a href="data#@box.Id" target="_top">@box.Name</a></li>
                }
            </ul>
        </li>
    }
</ul>


@foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
{
    @foreach (var box in season.Boxes.OrderByBoxDefault())
    {
        <h2 id="@box.Id">Season @season.Number: @box.Name</h2>

        <div class="row g-2 row-cols-1 row-cols-lg-2 row-cols-xxl-3">

            @foreach (var item in box.AllItems)
            {
                <BoxItemCard Item="item" ShowBoxInfo="false" ShowDetails="true" />
            }
        </div>
        <div class="row mb-5">
            <a href="data#top" target="_top">Back to top</a>
        </div>

    }
}