@page "/"
@using UnitedGenerator.Data;

<PageTitle>Index</PageTitle>

@foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
{
    <h1>Season @season.Number - @season.Name</h1>

    @foreach(var box in season.Boxes.OrderBy(x => x.Name))
    {
        <h2>@box.Name</h2>

        @if (box.Heroes.Any())
        {
            <h3>Heroes</h3>
            <ul>
                @foreach (var hero in box.Heroes.OrderBy(x => x.Name))
                {
                    <li>@hero.Name</li>
                }
            </ul>
        }

        @if (box.Villains.Any())
        {
            <h3>Villains</h3>
            <ul>
                @foreach (var villain in box.Villains.OrderBy(x => x.Name))
                {
                    <li>
                        @villain.Name

                        <ul>

                        @if (villain.HasCustomRules)
                        {
                            <li>Has Custom Rules!</li>
                        }

                        @foreach(var sub in villain.SubVillains)
                        {
                            <li>Sub Villain: @sub.Name (@sub.Box.Name - Season @sub.Season.Number)</li>
                        }

                        </ul>

                    </li>
                }
            </ul>
        }

        if (box.Locations.Any())
        {
            <h3>Locations</h3>
            <ul>
                @foreach (var location in box.Locations.OrderBy(x => x.Name))
                {
                    <li>@location.Name</li>
                }
            </ul>
        }

        if (box.Challenges.Any())
        {
            <h3>Challenges</h3>
            <ul>
                @foreach (var challenge in box.Challenges.OrderBy(x => x.Name))
                {
                    <li>@challenge.Name</li>
                }
            </ul>
        }
    }
}
