@page "/"
@using UnitedGenerator.Data;

<PageTitle>Index</PageTitle>

@foreach (var season in DataFactory.Seasons.OrderBy(x => x.Number))
{
    <h1>Season @season.Number - @season.Name</h1>

    @foreach(var box in season.Boxes.OrderBy(x => x.Name))
    {
        <h2>@box.Name</h2>

        @if (box.Heroes.Any())
        {
            <h3>Heroes</h3>
            <ul>
                @foreach (var hero in box.Heroes.OrderBy(x => x.Name))
                {
                    <li>@hero.Name</li>
                }
            </ul>
        }

        @if (box.Villains.Any())
        {
            <h3>Villains</h3>
            <ul>
                @foreach (var villain in box.Villains.OrderBy(x => x.Name))
                {
                    <li>
                        @villain.Name

                        <ul>

                        @if (villain.HasCustomRules)
                        {
                            <li>Has Custom Rules!</li>
                        }

                        @if (!villain.CanBeUsedInTeamVsTeamMode)
                        {
                            <li>Can NOT be used in Team vs Team games</li>
                        }

                        @if (villain.DisableChallenges)
                        {
                            <li>No Challenges Allowed!</li>
                        }

                        @if (!villain.IncludeInRandomVillainSelection)
                        {
                            <li>Exclude from individual Villain selection!</li>
                        }

                        @if (villain.PreGamesCount > 0)
                        {
                            <li>Number of pre-games: @villain.PreGamesCount</li>
                        }

                        @foreach(var sub in villain.PreGameCandidateVillains)
                        {
                            <li>Pre-game Candidate Villain: @sub.Name (@sub.Box.Name - Season @sub.Season.Number)</li>
                        }

                        @foreach(var group in villain.AdditionalHeroGroups)
                        {
                            <li>Additional Heroes: @group.GroupName (@group.Description)</li>
                        }

                        @foreach(var sub in villain.SubVillains)
                        {
                            <li>Sub Villain: @sub.Name (@sub.Box.Name - Season @sub.Season.Number)</li>
                        }

                        @foreach(var location in villain.AssignedLocations)
                        {
                            <li>Assigned Location: @location.Name (@location.Box.Name - Season @location.Season.Number)</li>
                        }

                        @if(villain.DataComments.Any())
                        {
                            <li>
                                Comments
                                <ul>
                                @foreach(var comment in villain.DataComments)
                                {
                                     <li>@comment</li>   
                                }
                                </ul>
                            </li>
                        }

                        </ul>

                    </li>
                }
            </ul>
        }

        @if (box.AntiHeroes.Any())
        {
            <h3>Anti-Heroes</h3>
            <ul>
                @foreach (var villain in box.AntiHeroes.OrderBy(x => x.Name))
                {
                    <li>
                        @villain.Name

                        <ul>

                            @if (villain.HasCustomRules)
                            {
                                <li>Has Custom Rules!</li>
                            }

                            @if (!villain.CanBeUsedInTeamVsTeamMode)
                            {
                                <li>Can NOT be used in Team vs Team games</li>
                            }

                            @if (villain.DisableChallenges)
                            {
                                <li>No Challenges Allowed!</li>
                            }

                            @if (!villain.IncludeInRandomVillainSelection)
                            {
                                <li>Exclude from individual Villain selection!</li>
                            }

                            @if (villain.PreGamesCount > 0)
                            {
                                <li>Number of pre-games: @villain.PreGamesCount</li>
                            }

                            @foreach (var sub in villain.PreGameCandidateVillains)
                            {
                                <li>Pre-game Candidate Villain: @sub.Name (@sub.Box.Name - Season @sub.Season.Number)</li>
                            }

                            @foreach (var group in villain.AdditionalHeroGroups)
                            {
                                <li>Additional Heroes: @group.GroupName (@group.Description)</li>
                            }

                            @foreach (var sub in villain.SubVillains)
                            {
                                <li>Sub Villain: @sub.Name (@sub.Box.Name - Season @sub.Season.Number)</li>
                            }

                            @foreach (var location in villain.AssignedLocations)
                            {
                                <li>Assigned Location: @location.Name (@location.Box.Name - Season @location.Season.Number)</li>
                            }

                            @if(villain.DataComments.Any())
                            {
                                <li>
                                    Comments
                                    <ul>
                                    @foreach(var comment in villain.DataComments)
                                    {
                                         <li>@comment</li>   
                                    }
                                    </ul>
                                </li>
                            }

                        </ul>

                    </li>
                }
            </ul>
        }

        if (box.Teams.Any())
        {
            <h3>Teams</h3>
            <ul>
                @foreach(var team in box.Teams)
                {
                    <li>
                        @team.Name
                        <ul>
                            <li>Type: @team.TeamType</li>
                            <li>Members
                                <ul>
                                    @foreach(var member in team.TeamMembers)
                                    {
                                        <li>@member.Name (@member.Box.Name - Season @member.Season.Number)</li>
                                    }
                                </ul>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        }

        if (box.Locations.Any())
        {
            <h3>Locations</h3>
            <ul>
                @foreach (var location in box.Locations.OrderBy(x => x.Name))
                {
                    <li>
                        @location.Name
                        <ul>
                        @if (!location.IncludeInRandomSelection)
                        {
                            <li>Exclude from random selection!</li>
                        }

                        @if (location.HasCustomRules)
                        {
                            <li>Has Custom Rules!</li>
                        }

                        @if (location.Hazardous)
                        {
                            <li>Hazardous!</li>
                        }
                        </ul>
                    </li>
                }
            </ul>
        }

        if (box.Challenges.Any())
        {
            <h3>Challenges</h3>
            <ul>
                @foreach (var challenge in box.Challenges.OrderBy(x => x.Name))
                {
                    <li>
                        @challenge.Name
                        <ul>
                            @if(challenge.HazardousLocationsCount > 0)
                            {
                                <li>Hazardous Locations: @challenge.HazardousLocationsCount</li>
                            }

                            @if(!challenge.CanBeUsedInTeamVsTeamMode)
                            {
                                <li>Can NOT be used in Team vs Team games</li>
                            }

                        @if (challenge.IncompatibleVillains.Any())
                        {
                            <li>
                                Incompatible Villains

                                <ul>
                                    @foreach(var villain in challenge.IncompatibleVillains)
                                    {
                                        <li>@villain.Name (@villain.Box.Name - Season @villain.Season.Number)</li>
                                    }
                                </ul>
                            </li>
                        }

                        @if (challenge.DataComments.Any())
                        {
                            <li>
                                Comments
                                <ul>
                                @foreach(var comment in challenge.DataComments)
                                {
                                     <li>@comment</li>   
                                }
                                </ul>
                            </li>
                        }
                        </ul>
                    </li>
                }
            </ul>
        }
    }
}
