@if (Challenge != null)
{
    @if (!Challenge.CanBeUsedInTeamVsTeamMode)
    {
        <p>Exclude from Team vs Team games.</p>
    }

    @if (Challenge.RequiresTeamvsTeamMode)
    {
        <p>Only use in Team vs Team games.</p>
    }

    @if (Challenge.HazardousLocationsCount > 0)
    {
        <p>Use minimum @Challenge.HazardousLocationsCount hazardous Locations.</p>
    }

    @if (Challenge.MinimumPlayerCount.HasValue)
    {
        <p>Requires at least @Challenge.MinimumPlayerCount players.</p>
    }

    @if (Challenge.MaximumPlayerCount.HasValue)
    {
        <p>Requires at most @Challenge.MaximumPlayerCount players.</p>
    }

    @if (Challenge.IncompatibleVillains.Any())
    {
        <div>
            Can't be used with Villain(s):
            <ul>
            @foreach (var villain in Challenge.IncompatibleVillains)
            {
                <li>@villain.ToItemString(Challenge)</li>
            }
            </ul>
        </div>
    }

    @if (Challenge.DataComments.Any())
    {
        <div>
            Comments:
            <ul>
            @foreach (var comment in Challenge.DataComments)
            {
                <li>@comment</li>
            }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public IChallenge? Challenge { get; set; }
}
