@if (Villain != null)
{
    @if (Villain.SubVillains.Any())
    {
        <div>
            Team members:
            <ul>
                @foreach (var sub in Villain.SubVillains)
                {
                    <li>@sub.ToItemString(Villain)</li>
                }
            </ul>
        </div>
    }

    @if (!Villain.IncludeInRandomVillainSelection)
    {
        <p>Do not include in<br />random selection.</p>
    }

    @if (!Villain.CanBeVillainInTeamVsTeamMode)
    {
        <p>Can't be villain in<br />Team vs Team games.</p>
    }

    @if (Villain.DisableChallenges)
    {
        <p>Never include challenges.</p>
    }

    @if (Villain.ExcludeLocationsWhereHeroCanDrawCards)
    {
        <p>Exclude locations where<br />heroes can draw cards.</p>
    }

    @if (Villain.MaximumLocationsWhereStartingThugsAregreatherThanCivilians.HasValue)
    {
        <p>Maximum @Villain.MaximumLocationsWhereStartingThugsAregreatherThanCivilians locations where starting<br />number of thugs are greather than civilians.</p>
    }

    @if (Villain.PreGamesCount > 0)
    {
        <p>Play @Villain.PreGamesCount game(s) first.</p>            
    }

    @if (Villain.OnlyPlayPreGames)
    { 
        <p>Don not play agains this Villain.</p>
    }

    @if (Villain.PreGameCandidateVillains.Any())
    {
        <div>
            Select villains between:
            <ul>
                @foreach (var sub in Villain.PreGameCandidateVillains)
                {
                    <li>@sub.ToItemString(Villain)</li>
                }
            </ul>
        </div>
    }

    @if (Villain.ExcludeHeroes.Any())
    {
        <div>
            Do not use heroes:
            <ul>
                @foreach (var hero in Villain.ExcludeHeroes)
                {
                    <li>@hero.ToItemString(Villain)</li>
                }
            </ul>
        </div>
    }

    @if (Villain.ReuseHeroesFromFirstPreGame)
    {
        <p>Reuse same heroes in all games.</p>
    }

    @if (Villain.AdditionalHeroGroups.Any())
    {
        <div>
            Generate additional hero groups:
            <ul>
                @foreach (var group in Villain.AdditionalHeroGroups)
                {
                    <li>@group.GroupName<br />(@group.Description)</li>
                }
            </ul>
        </div>
    }

    @if (Villain.AssignedLocations.Any())
    {
        <div>
            Include locations:
            <ul>
                @foreach (var location in Villain.AssignedLocations)
                {
                    <li>
                        @location.Location.ToItemString(Villain)
                    
                        @if (location.Placement.HasValue)
                        {
                            <ul>
                                <li>Placement @location.Placement</li>
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    }

    @if (Villain.DataComments.Any())
    {
        <div>
            Comments:
            <ul>
            @foreach (var comment in Villain.DataComments)
            {
                <li>@comment</li>
            }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public IVillain? Villain { get; set; }
}
