@if (Villain != null)
{
    @if (Villain.SubVillains.Any())
    {
        <div>
            Team members:
            <ul>
                @foreach (var sub in Villain.SubVillains)
                {
                    <li>@sub.ToItemString(Villain)</li>
                }
            </ul>
        </div>
    }

    @if (!Villain.IncludeInRandomVillainSelection)
    {
        <div>Do not include in random selection.</div>
    }

    @if (!Villain.CanBeVillainInTeamVsTeamMode)
    {
        <div>Exclude from Team vs Team games.</div>
    }

    @if (Villain.DisableChallenges)
    {
        <div>Never include challenges.</div>
    }

    @if (Villain.PreGamesCount > 0)
    {
        <div>Play @Villain.PreGamesCount game(s) first.</div>            
    }

    @if (Villain.OnlyPlayPreGames)
    { 
        <div>Don not play agains this Villain.</div>
    }

    @if (Villain.PreGameCandidateVillains.Any())
    {
        <div>
            Select villains between:
            <ul>
                @foreach (var sub in Villain.PreGameCandidateVillains)
                {
                    <li>@sub.ToItemString(Villain)</li>
                }
            </ul>
        </div>
    }

    @if (Villain.ExcludeHeroes.Any())
    {
        <div>
            Do not use heroes:
            <ul>
                @foreach (var hero in Villain.ExcludeHeroes)
                {
                    <li>@hero.ToItemString(Villain)</li>
                }
            </ul>
        </div>
    }

    @if (Villain.ReuseHeroesFromFirstPreGame)
    {
        <div>Reuse same heroes in all games.</div>
    }

    @if (Villain.AdditionalHeroGroups.Any())
    {
        <div>
            Generate additional hero groups:
            <ul>
                @foreach (var group in Villain.AdditionalHeroGroups)
                {
                    <li>@group.GroupName (@group.Description)</li>
                }
            </ul>
        </div>
    }

    @if (Villain.AssignedLocations.Any())
    {
        <div>
            Include locations:
            <ul>
                @foreach (var location in Villain.AssignedLocations)
                {
                    <li>
                        @location.Location.ToItemString(Villain)
                    
                        @if (location.Placement.HasValue)
                        {
                            <ul>
                                <li>Placement @location.Placement</li>
                            </ul>
                        }
                    </li>
                }
            </ul>
        </div>
    }

    @if (Villain.DataComments.Any())
    {
        <div>
            Comments:
            <ul>
            @foreach (var comment in Villain.DataComments)
            {
                <li>@comment</li>
            }
            </ul>
        </div>
    }
}

@code {
    [Parameter]
    public IVillain? Villain { get; set; }
}
